@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="homeindex">
    <h1>Wardrobe for a Revolution</h1>
    <p class="lead">organize your clothes to suit your cause.</p>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h2>Add New Peace of Clothing</h2>
        <p>
            
        </p>
       @Html.ActionLink("New Top", "Create", "Tops", null, new { @class = "btn btn-default" })
        @Html.ActionLink("New Bottom", "Create", "Bottoms", null, new { @class = "btn btn-default" })
        @Html.ActionLink("New Shoes", "Create", "Shoes", null, new { @class = "btn btn-default" })
        @Html.ActionLink("New Accessory", "Create", "Accessories", null, new { @class = "btn btn-default" })
    </div>



    <div class="col-md-6">
        <h2></h2>
        
    </div>
    <div class="col-md-6">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>