@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" id="accessoryindex">
    <div class="container">
        <h1>Wardrobe for a Revolution</h1>
        <p class="lead">organize your clothes to suit your cause.</p>
        <p>@Html.ActionLink("Create New Top", "Create", "Tops", null, new { @class = "btn btn-default" })</p>
        <p>





        </p>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src=@Html.DisplayFor(modelItem => item.TopPhoto) alt="Tops">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.TopName)</h3>
                    <p>@Html.ActionLink("View Details", "Details", "Tops", new { id = item.TopID }, new { @class = "btn btn-default" })</p>
                    <p><span>@Html.ActionLink("Edit This", "Edit", "Tops", new { id = item.TopID }, new { @class = "btn btn-default" })</span></p>
                </div>
            </div>
        </div>

    }
</div>
